.gallery-slider-nav {
    display: none;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.gallery-slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity 0.3s ease;
}

.gallery-slider-nav a:hover {
    opacity: 1;
}

@media (min-width: 1024px) {
    .gallery-slider-nav {
        display: flex;
    }
}
