.menu-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  flex-shrink: 0;
}

.menu-button-separator {
  width: 0px;
  height: auto;
  align-self: stretch;
  border: none;
  border-left: 2px solid #695A3D;
  border-radius: 5px;
  flex-shrink: 0;
}

.nav-bar-container {
  background-color: #8c7851;
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: 2rem;
  font-family: 'Open Sans';
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0rem .125rem 1rem rgba(0, 0, 0, 0.45);
}

@media (min-width: 1280px) {
  .nav-bar-container {
    font-size: 1.7rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    gap: 10px;
  }
}

.navigation-bar-separator {
  display: none;
  border: solid 1px #695A3D;
  border-radius: 5px;
  height: 0;
  width: 100%;
}

@media (min-width: 1280px) {
  .navigation-bar-separator {
    display: block;
  }
}

.nav-bar-upper-row-container {
  display: flex;
  justify-content: space-between;
  min-height: calc(1.25em * 1.3 + 1rem);
}

@media (max-width: 1279px) {
  .nav-bar-upper-row-container {
    justify-content: flex-end;
  }

  .nav-bar-upper-row-container.has-mobile-greeting {
    justify-content: space-between;
  }
}

.nav-bar-lower-row-container {
  display: none;
}

@media (min-width: 1280px) {
  .nav-bar-lower-row-container {
    display: flex;
    flex-direction: row;
  }
}

.nav-bar-mobile-greeting {
  margin-top: auto;
  margin-bottom: auto;
}

.restaurant-name {
  margin-top: auto;
  margin-bottom: auto;
  padding: .5rem .25rem;
  font-weight: 500;
  letter-spacing: .01em;
  font-family: 'Roboto, sans-serif';
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  flex-shrink: 0;
  transform-origin: left center;
}

.restaurant-name:hover {
  background-color: #1f0800;
  color: #d8ba7e;
  transform: scale(1.25);
}
