.header-container {
  background-color: #8c7851;
}

@media (min-width: 1280px) {
  .header-container {
    font-size: 1.2rem ;
  }
}

@media (min-width: 2560px) {
  .app-header {
    font-size: 1.5rem;
  }
}

@media (min-width: 3840px) {
  .app-header {
    font-size: 2rem;
  }
}
