.shopping-cart-order-item {
  width: 100%;
}

@media (min-width: 1024px) {
  .shopping-cart-order-item {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: 20%;
  }
}