.shopping-cart-order-item-image-container {
  text-decoration: none;
  width: 100%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  border: 2px solid #00000077;
  justify-content: center;
  align-items: center;
}