.restaurant-name {
  margin-top: auto;
  margin-bottom: auto;
  padding: .5rem .25rem;
  font-weight: 500;
  letter-spacing: .01em;
  font-family: 'Roboto, sans-serif';
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, margin 0.3s ease;
  border-radius: 5px;
}

.restaurant-name:hover {
  background-color: #1f0800;
  color: #d8ba7e;
  transform: scale(1.25);
  margin-left: calc(1.25*1rem);
  margin-right: calc(1.25*1rem);
}
