.shopping-bag-dropdown {
  text-decoration: none;
  background-color: #8c7851;
  border-radius: 5px;
  padding: .5rem;
  padding-left: .75rem;
  padding-right: .75rem;
  animation: growUp 0.3s ease;
  transform-origin: bottom;
  position: absolute;
  bottom: 120%;
  border: 2px solid #695A3D;
}

@media (min-width: 1280px) {
  .shopping-bag-dropdown {
    position: absolute;
    top: 50%;
    bottom: initial;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transform-origin: top;
    padding: .5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@keyframes growUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
