.gallery-container {

}

.gallery-slider {
    display: flex;
    aspect-ratio: 4 / 5;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
    gap: 1rem;
    background-color: #eaddcf;
    transition: aspect-ratio 0.3s ease;
}

.gallery-slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}

@media (max-width: 720px) {
    .gallery-slider {
        aspect-ratio: 4.5 / 6.5;
    }
}

@media (min-width: 896px) {
    .gallery-slider {
        aspect-ratio: 5 / 3;
    }
}

@media (min-width: 1024px) {
    .gallery-slider {
        aspect-ratio: 15 / 7;
    }
}

@media (min-width: 1366px) {
    .gallery-slider {
        aspect-ratio: 16 / 8;
    }
}

.gallery-slider-nav {
    display: none;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.gallery-slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    transition: opacity 0.3s ease;
}

.gallery-slider-nav a:hover {
    opacity: 1;
}

@media (min-width: 1024px) {
    .gallery-slider-nav {
        display: flex;
    }
}

.gallery-slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    opacity: .75;
    color: #000;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.gallery-slider-arrow:hover {
    opacity: 1;
}

.gallery-slider-arrow-prev {
    left: 0.5rem;
}

.gallery-slider-arrow-next {
    right: 0.5rem;
}

.gallery-slider-wrapper {
    position: relative;
    margin: 0 auto;
    max-height: fit-content;
    scrollbar-color: transparent transparent;
    max-width: min(95%, 1200px);
}
