.fa-arrow-right-from-bracket {
  padding: .25rem;
  border-radius: 5px;
}

.fa-arrow-right-from-bracket:hover {
  color: #d8ba7e !important;
  background-color: #1f0800 !important;
}

@media(min-width: 1280px) {
  .fa-arrow-right-from-bracket {
    padding: .25rem;
  }
}

