.hamburger-menu-separator {
  width: 0px;
  height: auto;
  align-self: stretch;
  border: none;
  border-left: 2px solid #695A3D;
  border-radius: 5px;
}

@media (min-width: 1280px) {
  .hamburger-menu-separator {
    display: none;
  }
}
