.food-details-title {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: var(--page-title-font-size);;
  max-width: 100%;
  font-family: 'Pacifico', cursive;
  animation: slideInFromBottom .85s ease-out forwards;

}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);

  }
}