.food-details-allergens {
  font-size: 1.5rem;
  gap: 0.5rem;
  display: flex;
  margin-top: 2ch;
  text-align: center;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
}

@media (min-width: 768px) {
  .food-details-allergens {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .food-details-allergens {
    font-size: 1.8rem;
    margin-top: 1ch;
    text-align: right;
  }
}

@media (min-width: 1920px) {
  .food-details-allergens {
    font-size: 2.1rem;
  }
}

@media (min-width: 2560px) {
  .food-details-allergens {
    font-size: 2.7rem;
  }
}
