.food-details-info-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .food-details-info-text {
    flex-direction: column-reverse;
    justify-content: space-between;
    flex: 1;
    gap: 0px;
  }
}