.food-details-card-container {
  padding: 1rem;
  background-color: #8c7851;
  border-radius: 5px;
  animation: slideInFromBottom .85s ease-out forwards;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .food-details-card-container {
    width: calc(80% - 2rem);
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .food-details-card-container {
    width: calc(100% - 4rem);
    flex-direction: row;
  }
}
