.food-details-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

@media (min-width: 768px) {
  .food-details-container {
      width: 95%;
  }
}

@media (min-width: 1024px) {
  .food-details-container {
      width: 100%;
  }
}

@media (min-width: 1280px) {
  .food-details-container {
      width: 95%;
  }
}

@media (min-width: 1920px) {
  .food-details-container {
      width: 90%;
  }
}