.header {
  background-color: #61574b;
  color: #fffff5;
  padding: .25rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Pacifico', cursive;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header-container {
  background-color: #8c7851;
}

@media (min-width: 1280px) {
  .header-container {
    font-size: 1.2rem ;
  }
}

@media (min-width: 2560px) {
  .app-header {
    font-size: 1.5rem;
  }
}

@media (min-width: 3840px) {
  .app-header {
    font-size: 2rem;
  }
}
