.menu-item-allergens {
  font-size: 1.5rem;
  gap: 0.5rem;
  display: flex;
  margin-top: 2ch;
  text-align: center;
}

@media (min-width: 768px) {
  .menu-item-allergens {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .menu-item-allergens {
    font-size: 1.8rem;
    margin-top: 1ch;
  }
}

@media (min-width: 1920px) {
  .menu-item-allergens {
    font-size: 2.1rem;
  }
}