.menu-items-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  animation: slideInFromBottom .85s ease-out forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .menu-items-row {
    flex-direction: row;
    padding: 1rem;
  }
}