.navigation-link {
  text-decoration: none;
  padding: .25rem;
  width: 100%;
  text-align: center;
  display: block;
  color: #000;
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  transition: font-size 0.3s ease, margin 0.3s ease;
  cursor: pointer;
}

button.navigation-link {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}
.navigation-link.shopping-bag-link {
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation-link.shopping-bag-link:hover {
  font-size: 1.5rem;
  margin-left: 0;
  margin-right: 0;
}

/* a.navigation-link.button-scale.active:hover, */
.navigation-link:hover {
  background-color: #1f0800;
  color: #d8ba7e;
  font-size: calc(1.2rem * 1.25);
  margin-left: calc(1.25*0.25rem);
  margin-right: calc(1.25*0.25rem);
}

a.navigation-link.active {
  color: #d8ba7e;
  background-color: #1f0800;
  font-weight: bold;
}

@media (min-width: 1280px) {
  .navigation-link.shopping-bag-link:hover {
    font-size: calc(1.25rem * 1.25);
    margin-left: calc(1.25*0.25rem);
    margin-right: calc(1.25*0.25rem);
  }

  .navigation-link.shopping-bag-link {
    font-size: 1.25rem;
  }
}
