.banner-paragraph-style {
    text-align: justify;
    margin: 0;
    font-size: 1.25rem;
}

@media (min-width: 1024px) {
    .banner-paragraph-style {
        width: 50%;
        font-size: 1.5rem;
    }
}