.logout-button-nav-link-wrapper {
  border-radius: 5px;
  padding: .25rem;
  margin-top: auto;
  text-decoration: none;
  transition: transform 0.3s ease, margin 0.3s ease;
  transform-origin: right center;
  color: inherit;
}

.logout-button-nav-link-wrapper.active:hover {
  background-color: transparent;
}

.logout-button-nav-link-wrapper:hover {
  background-color: #1f0800;
  color: #d8ba7e;
  transform: scale(1.25);
}
