.fa-user {
  padding: .25rem;
  padding-bottom: 0;
  border-radius: 5px;
}

.fa-user:hover {
  color: #d8ba7e !important;
  background-color: #1f0800 !important;
}

.profile-button-nav-link-wrapper {
  border-radius: 5px;
  padding: 0;
  margin: 0;
  transition: font-size 0.3s ease, margin 0.3s ease;
  color: inherit;
  flex-shrink: 0;
}

.profile-button-nav-link-wrapper.active:hover {
  background-color: transparent;
}

.profile-button-nav-link-wrapper:hover {
  background-color: transparent;
  font-size: 1.25em;
}

.profile-button-nav-link-wrapper.active {
  color: #d8ba7e !important;
  background-color: #1f0800 !important;
}
