.login-page-nav-link-text {
  font-size: 1rem;
  color: #ffd0d7;
  margin-top: 0.3em;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s ease;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  padding: .25rem;
  font-weight: 600;
}

a.login-page-nav-link-text:hover {
  transform: scale(1.25);
  background-color: #1f0800;
}

.login-page-registration-span {
  display: flex;
  align-items: center;
  flex-direction: column;
}
